extends layout

block content
  section.section
    .container
      h1.title Products Detail
      p.subtitle Nike Airmax
      br
      .columns
        .column.is-one-third
          figure.image.is-9by16
            img(src="https://bulma.io/images/placeholders/256x256.png")
        .column
          p The Nike Air Max 270 Men's Shoe is inspired by two icons of big Air: the Air Max 180 and Air Max 93. It features Nike’s biggest heel Air unit yet for a super-soft ride that feels as impossible as it looks.
          br
          p.has-text-centered.is-size-4.has-text-danger ฿ 1,799.00
          br
          p.has-text-centered.is-size-4 Total 1 piece
          button.button.is-large.is-link Add to Cart